.breadcrumbs {
    margin-bottom: 40px;
    font-size: 16px;

    &__item {
        display: inline-flex;
        align-items: center;

        &-link {
            text-decoration: none;
            color: #B0BEC5; /* Inactive items color */
        }

        &-text-active {
            color: #000; /* Black color for active item */
        }

        &-icon {
            margin: 0 10px;
        }
    }
}
